# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\矩阵分解降维\dna\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
